* text=auto

*.py text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.cff text eol=lf
Makefile text eol=lf

*.pdf binary
*.png binary
*.mp4 binary
